*{
    margin: 0;
    padding: 0; 
   font-family:Arial, Helvetica, sans-serif;

}

body{
    
    background-image:url(../validation_task-/k.jpeg);
    background-size:cover;
}
  /* #logo{
     display:block; 
    width: 13%;
      
    position: relative; 
     bottom: 1cm;
     right: 10px;
   
}    */

p{
    color: white;
   position: relative;
     top: 190px ;
    margin-left: 150px;
    font-size: x-large;

}
 .login {
     text-decoration: none;
      background-color:rgb(255, 255, 255);
       padding: 1% 2%;
       color: rgb(37, 85, 135);
      border-radius: 10%;
      font-size: 20px;
      box-shadow: 3px 10px 5px rgb(35, 45, 48); 
      height: 5%;
      width: 8%;
      margin-left:550px;
     position: relative;
     top: 240px;
   
 }
 .Sign{
    text-decoration: none;
    background-color:rgb(255, 255, 255);
     padding: 1% 2%;
    color: rgb(37, 85, 135);
    border-radius: 10%;
    font-size: 20px;
    box-shadow: 3px 10px 5px rgb(15, 22, 24); 
    height: 5%;
    width: 10%;
    margin-left: 350px;
   position: relative;
   top: 280px;
   text-align: center;
   
 }